body, html{
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    /* background: linear-gradient(#e28e56 50%, #295397 50%); */
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body {
  background-image: url("../hinh-nen.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}


#wordle-container{
    width: 420px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    margin: 20px;
}

#game-setup div{
    margin: 10px 0;
}

#game-setup label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

#username, #password, #difficulty, #type{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1em;
    color: black;
    background: #fff;
}

#start-btn{
    padding: 12px 25px;
    background-color: #1c1917;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    transition: background-color 0.3s ease, transform 0.1s ease;
    width: 100%;
    margin-top: 20px;
}

#start-btn:hover{
    background-color: #15aabf;
    transform: scale(1.05);
}

#other-container{
    width: 100px;
    background-color: white;
    padding: 1%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    margin: 10px;
    display:flex;
    flex-direction: column;
    gap: 6px;
}



#other-container a{
    display: inline-block;
    text-decoration: none;
    border: 2px solid rgb(83, 83, 84);
    border-radius: 20%;
    padding: 4%;
    cursor: pointer;
    text-decoration: none;
    font-size: 100%;
    color: grey;
    font-weight: bold;
    font-size: 95%;
    background: white; 
}

#other-container a:hover{
    background-color: rgb(222, 222, 255);
    color: black;
    transform: scale(1.05);
}


