body, html{
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body{
  background-image: url("../hinh-nen.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

#container{
    width: 500px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    margin: 20px;
    border: 3px solid rgb(111, 105, 193);
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#decision{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

#back{
  display: inline-block;
  border: 2px solid rgb(83, 83, 84);
  border-radius: 20%;
  padding: 5%;
  cursor: pointer;
  text-decoration: none;
  font-size: 85%;
  color: grey;
  font-weight: bold;
  background: white; 
}

#back:hover{
  background-color: rgb(222, 222, 255);
  color: black;
  transform: scale(1.05);
}
