html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    color: rgb(0,0,0);
    font-family: Arial,sans-serif;
    margin: 0.5%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

body {
  background-image: url("../hinh-nen.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

#instruction ul{
    margin-left: 0;
    padding-left: 0;
    display:flex;
    flex-direction: column;
}

#instruction li{
    width: 400px;
    padding: 4px;
    margin: 4px;
    padding-left: 0;
    margin-left: 0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#container{
    width: 600px;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    margin: 20px;
}

header {
    border-bottom: 1px solid gray;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

header h1{
    margin: 8px 0; 
    padding: 0;
    text-align: center;
    background-color: transparent;
}  

header h1 button{
    align-items: center;
    border: 0.5px;
    background-color: rgb(212, 211, 211);
    cursor: pointer;
}

.is-disabled{
  opacity: 0.45;
  pointer-events: none;
  filter: grayscale(40%);
}
    
main{
    min-height: 0;
    margin-top: 20px;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#board, #keyboard{ 
    display: flex;
    flex-direction: column;
    gap: 6px;
    text-transform: uppercase;
    align-items: center;
}


#board ul, #keyboard ul{
    display: flex; 
    list-style: none;
    gap: 6px;
    margin: 0;
    padding: 0;
}

[data-status], [data-key]{
  border: 2px solid rgb(64, 64, 64);
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 4rem;
  width: 4rem;

  user-select: none;
}

[data-status = 'valid'] {
    background: green;
}
[data-status = 'invalid'] {
    background: yellow;
}
[data-status = 'none'] {
    background: rgb(85, 85, 85);
}

#keyboard {
  gap: 8px; /* Between each row */
  padding-bottom: 10px;
}

#keyboard ul { justify-content: center; }

[data-key] {
  background: gray;
  border: none;
  border-radius: 4px;

  font-size: 1rem;

  height: 3.8rem;
  width: 2.8rem;

  cursor: pointer;

  transition: all .3s ease-in-out;
}

[data-key='Enter'] { width: 6rem; }

[data-key='Backspace'] {
  width: 100px;
}
