html {
    box-sizing: border-box;
    height: 100%;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    opacity: 0.95;
    min-height: 100vh;
    color: rgb(0,0,0);
    font-family: Arial,sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-image: url("../hinh-nen.jpg");
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
}

#container{
    width: 50%;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    margin: 20px;
}

#container #result {
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    color: rgb(44, 44, 65);
}

#container #decision{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#container #decision a{
    text-decoration: none;
    padding: 20px;
    border: 1px solid black;
    border-radius: 35%;
    cursor: pointer;
    background-color: rgb(209, 245, 245);
    font-size: 95%;
}

#container #decision a:hover{
    background-color: rgb(222, 222, 255);
    color: black;
    transform: scale(1.05);
}
