body, html{
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body{
  background-image: url("../hinh-nen.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

#instruction-container{
    width: 35%;
    height: 35%;
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    margin: 20px;
    border: 3px solid rgb(111, 105, 193);
    overflow: auto;
}

#instruction-container h1{
  font-size: 120%;
  padding-bottom: 5%;
}
#instruction-container h2{
  font-size: 100%;
  padding-bottom: 5%;
}


#back{
  display: inline-block;
  border: 2px solid rgb(83, 83, 84);
  border-radius: 20%;
  padding: 5%;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  color: grey;
  font-weight: bold;
  background: white; 
}

#back:hover{
  background-color: rgb(222, 222, 255);
  color: black;
  transform: scale(1.05);
}
